@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: var(--Element-Color);
  box-shadow: 0px 1px 5px -4px rgba(0, 0, 0, 0.75);
}
@media (max-width: 560px) {
  header {
    padding: 20px 20px;
  }
}
header .title {
  flex: 1 1;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .title h2 {
  font-size: 22px;
  font-weight: bolder;
  color: var(--Text-Color);
}
header .theme-button {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .theme-button button {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
header .theme-button button img {
  width: 16px;
  height: 16px;
  inset: 0;
}
header .theme-button button span {
  font-size: 14px;
  font-weight: 600;
  color: var(--Text-Color);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--Background-Color);
  overflow: hidden;
}
main .home-page {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 100px;
  overflow: hidden;
}
@media (max-width: 560px) {
  main .home-page {
    padding: 50px 20px;
  }
}
main .home-page.active {
  display: flex;
}
main .home-page .filter-wrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 760px) {
  main .home-page .filter-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }
}
main .home-page .filter-wrapper .search-input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .home-page .filter-wrapper .search-input form {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Element-Color);
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0px 1px 5px -4px rgba(0, 0, 0, 0.75);
}
@media (max-width: 1090px) {
  main .home-page .filter-wrapper .search-input form {
    width: 50%;
  }
}
@media (max-width: 760px) {
  main .home-page .filter-wrapper .search-input form {
    width: 100%;
  }
}
main .home-page .filter-wrapper .search-input form button {
  width: 50px;
  height: 100%;
  outline: none;
  border: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
main .home-page .filter-wrapper .search-input form button img {
  width: 40px;
  height: 40px;
  inset: 0;
}
main .home-page .filter-wrapper .search-input form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  color: var(--Text-Color);
  font-size: 16px;
}
main .home-page .filter-wrapper .search-input form input::-moz-placeholder {
  color: var(--Input-Color);
  font-size: 12px;
}
main .home-page .filter-wrapper .search-input form input::placeholder {
  color: var(--Input-Color);
  font-size: 12px;
}
main .home-page .filter-wrapper .filter-by-region {
  width: 200px;
  height: 40px;
  background-color: var(--Element-Color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px -4px rgba(0, 0, 0, 0.75);
}
main .home-page .filter-wrapper .filter-by-region select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 3px 20px;
  font-size: 14px;
  background-color: transparent;
  color: var(--Text-Color);
}
main .home-page .filter-wrapper .filter-by-region select option {
  background-color: var(--Element-Color);
  color: var(--Text-Color);
  border: none;
}
main .home-page .filter-wrapper .filter-by-region select:focus {
  border: transparent;
  outline: none;
  box-shadow: none;
}
main .home-page .countries-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
main .home-page .countries-wrapper .countries {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 258px);
  /* 4 sütun */
  grid-auto-rows: 300px;
  /* Satır yüksekliği */
  grid-gap: 50px;
  /* Satırlar arası boşluk */
  justify-content: space-between;
}
@media (max-width: 1400px) {
  main .home-page .countries-wrapper .countries {
    grid-template-columns: repeat(3, 258px);
  }
}
@media (max-width: 1090px) {
  main .home-page .countries-wrapper .countries {
    grid-template-columns: repeat(2, 258px);
    justify-content: center;
  }
}
@media (max-width: 760px) {
  main .home-page .countries-wrapper .countries {
    grid-template-columns: repeat(1, 258px);
    justify-content: center;
  }
}
main .home-page .countries-wrapper .countries .country {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Element-Color);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 5px -4px rgba(0, 0, 0, 0.75);
}
main .home-page .countries-wrapper .countries .country-flag {
  width: 100%;
  height: 50%;
}
main .home-page .countries-wrapper .countries .country-flag img {
  width: 100%;
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top, left;
     object-position: top, left;
}
main .home-page .countries-wrapper .countries .country-description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 20px;
}
main .home-page .countries-wrapper .countries .country-description h3 {
  font-weight: bold;
  font-size: 18px;
  color: var(--Text-Color);
}
main .home-page .countries-wrapper .countries .country-description h4 {
  font-weight: bold;
  font-size: 14px;
  color: var(--Text-Color);
}
main .home-page .countries-wrapper .countries .country-description span {
  font-size: 14px;
  color: var(--Text-Color);
}
main .home-page .countries-wrapper .countries .country-description .country-name {
  width: 100%;
}
main .home-page .countries-wrapper .countries .country-description .country-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .home-page .countries-wrapper .countries .country-description .country-info .population {
  width: 100%;
  display: flex;
  gap: 5px;
}
main .home-page .countries-wrapper .countries .country-description .country-info .region {
  width: 100%;
  display: flex;
  gap: 5px;
}
main .home-page .countries-wrapper .countries .country-description .country-info .capital {
  width: 100%;
  display: flex;
  gap: 5px;
}
main .detail-page {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 70px;
  padding: 50px 100px;
  overflow: hidden;
}
@media (max-width: 560px) {
  main .detail-page {
    padding: 50px 20px;
  }
}
main .detail-page.active {
  display: flex;
}
main .detail-page .previous-page {
  width: 100%;
  height: 60px;
}
main .detail-page .previous-page button {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 7px 30px 7px 20px;
  background-color: var(--Element-Color);
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
}
main .detail-page .previous-page button img {
  width: 25px;
  height: 25px;
  inset: 0;
}
main .detail-page .previous-page button span {
  font-size: 14px;
  color: var(--Text-Color);
}
main .detail-page .detail-country {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}
@media (max-width: 1490px) {
  main .detail-page .detail-country {
    flex-direction: column;
    gap: 50px;
  }
}
main .detail-page .detail-country .country-flag {
  width: 50%;
  height: 480px;
}
@media (max-width: 1490px) {
  main .detail-page .detail-country .country-flag {
    width: 100%;
    height: 480px;
  }
}
main .detail-page .detail-country .country-flag img {
  width: 100%;
  height: 100%;
  inset: 0;
}
main .detail-page .detail-country .country-descriptions {
  width: 50%;
  height: 480px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 1490px) {
  main .detail-page .detail-country .country-descriptions {
    width: 100%;
    height: 480px;
  }
}
main .detail-page .detail-country .country-descriptions .country-name {
  width: 100%;
}
main .detail-page .detail-country .country-descriptions .country-name h2 {
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bolder;
  color: var(--Text-Color);
}
main .detail-page .detail-country .country-descriptions .country-infos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1490px) {
  main .detail-page .detail-country .country-descriptions .country-infos {
    gap: 50px;
  }
}
main .detail-page .detail-country .country-descriptions .country-infos .infos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 960px) {
  main .detail-page .detail-country .country-descriptions .country-infos .infos {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
main .detail-page .detail-country .country-descriptions .country-infos .infos .info {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 960px) {
  main .detail-page .detail-country .country-descriptions .country-infos .infos .info {
    width: 100%;
  }
}
main .detail-page .detail-country .country-descriptions .country-infos .infos .info h4 {
  color: var(--Text-Color);
  font-size: 14px;
  font-weight: bold;
}
main .detail-page .detail-country .country-descriptions .country-infos .infos .info span {
  color: var(--Text-Color);
  font-size: 14px;
}
main .detail-page .detail-country .country-descriptions .country-infos .infos .sub-region {
  width: 100%;
}
main .detail-page .detail-country .country-descriptions .country-infos .infos .capital {
  width: 100%;
}
main .detail-page .detail-country .country-descriptions .country-infos .border-countries {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
@media (max-width: 960px) {
  main .detail-page .detail-country .country-descriptions .country-infos .border-countries {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
}
main .detail-page .detail-country .country-descriptions .country-infos .border-countries h4 {
  font-weight: bold;
  color: var(--Text-Color);
}
main .detail-page .detail-country .country-descriptions .country-infos .border-countries .countries-wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 960px) {
  main .detail-page .detail-country .country-descriptions .country-infos .border-countries .countries-wrapper {
    height: 30px;
    flex-wrap: wrap;
  }
}
main .detail-page .detail-country .country-descriptions .country-infos .border-countries .countries-wrapper button {
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  background-color: var(--Element-Color);
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  color: var(--Text-Color);
}

:root {
  --Element-Color: hsl(0, 0%, 100%);
  --Background-Color: hsl(0, 0%, 98%);
  --Text-Color: hsl(200, 15%, 8%);
  --Input-Color: hsl(0, 0%, 52%);
}

html[data-theme=light] {
  --Element-Color: hsl(0, 0%, 100%);
  --Background-Color: hsl(0, 0%, 98%);
  --Text-Color: hsl(200, 15%, 8%);
  --Input-Color: hsl(0, 0%, 52%);
}

html[data-theme=dark] {
  --Element-Color: hsl(209, 23%, 22%);
  --Background-Color: hsl(207, 26%, 17%);
  --Text-Color: hsl(0, 0%, 100%);
  --Input-Color: hsl(0, 0%, 52%);
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.country-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}/*# sourceMappingURL=styles.css.map */