@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: var(--Element-Color);
  box-shadow: 0px 1px 5px -4px rgba(0, 0, 0, 0.75);
}
header .title {
  flex: 1 1;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .title h2 {
  font-size: 22px;
  font-weight: bolder;
  color: var(--Text-Color);
}
header .theme-button {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .theme-button button {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
header .theme-button button img {
  width: 16px;
  height: 16px;
  inset: 0;
}
header .theme-button button span {
  font-size: 14px;
  font-weight: 600;
  color: var(--Text-Color);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 100px;
  background-color: var(--Background-Color);
}
main .filter-wrapper {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .filter-wrapper .search-input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .filter-wrapper .search-input form {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Element-Color);
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0px 1px 5px -4px rgba(0, 0, 0, 0.75);
}
main .filter-wrapper .search-input form button {
  width: 50px;
  height: 100%;
  outline: none;
  border: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
main .filter-wrapper .search-input form button img {
  width: 40px;
  height: 40px;
  inset: 0;
}
main .filter-wrapper .search-input form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  color: var(--Text-Color);
  font-size: 16px;
}
main .filter-wrapper .search-input form input::-moz-placeholder {
  color: var(--Input-Color);
  font-size: 12px;
}
main .filter-wrapper .search-input form input::placeholder {
  color: var(--Input-Color);
  font-size: 12px;
}
main .filter-wrapper .filter-by-region {
  width: 200px;
  height: 100%;
  background-color: var(--Element-Color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px -4px rgba(0, 0, 0, 0.75);
}
main .filter-wrapper .filter-by-region select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 3px 20px;
  font-size: 14px;
}
main .filter-wrapper .filter-by-region select:focus {
  border: transparent;
  outline: none;
  box-shadow: none;
}
main .countries-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
main .countries-wrapper .countries {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 258px);
  /* 4 sütun */
  grid-auto-rows: 300px;
  /* Satır yüksekliği */
  grid-gap: 50px;
  /* Satırlar arası boşluk */
  justify-content: space-between;
}
main .countries-wrapper .countries .country {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
main .countries-wrapper .countries .country-flag {
  width: 100%;
  height: 50%;
  background-color: red;
}
main .countries-wrapper .countries .country-description {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 20px;
}
main .countries-wrapper .countries .country-description .country-name {
  width: 100%;
}
main .countries-wrapper .countries .country-description .country-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .countries-wrapper .countries .country-description .country-info .population {
  width: 100%;
  display: flex;
  gap: 5px;
}
main .countries-wrapper .countries .country-description .country-info .region {
  width: 100%;
  display: flex;
  gap: 5px;
}
main .countries-wrapper .countries .country-description .country-info .capital {
  width: 100%;
  display: flex;
  gap: 5px;
}

:root {
  --Element-Color: hsl(0, 0%, 100%);
  --Background-Color: hsl(0, 0%, 98%);
  --Text-Color: hsl(200, 15%, 8%);
  --Input-Color: hsl(0, 0%, 52%);
}

html[data-theme=light] {
  --Element-Color: hsl(0, 0%, 100%);
  --Background-Color: hsl(0, 0%, 98%);
  --Text-Color: hsl(200, 15%, 8%);
  --Input-Color: hsl(0, 0%, 52%);
}

html[data-theme=dark] {
  --Element-Color: hsl(209, 23%, 22%);
  --Background-Color: hsl(207, 26%, 17%);
  --Text-Color: hsl(0, 0%, 100%);
  --Input-Color: hsl(0, 0%, 52%);
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.country-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}/*# sourceMappingURL=styles.css.map */